body{
	font-family: Verdana, Arial, sans-serif;
	font-size: 0.6em;
	margin: 0px;
}


@sprite .header{
	gwt-image: 'topBackground';
	background-repeat: repeat-x;
	padding-left: 3em;
}


.footer{
	border-top: dotted 1px gray;
	padding-top: 0.5em;
	text-align: center;
}

.leftMenu{
	border: none;
	background-color: #f2f2f2;
}

.facets{
	padding: 3em 1em 2em 1em;
}


.facet{
	border: 1px solid gray;
	\-moz-border-radius: 8px;
	\-webkit-border-radius: 8px;
	background-color: #fff;
	margin: 1em;
}

@sprite .facetHeader{
	gwt-image: 'facetBackground';
	height: 22px;
	padding: 0.5em;
	text-align: center;
	font-weight: bold;
	color: #0D0D0D;
	border-bottom: 1px solid #f1f1f1;
	\-moz-border-radius-topleft: 8px;
	\-moz-border-radius-topright: 8px;
	\-webkit-border-top-left-radius: 8px;
	\-webkit-border-top-right-radius: 8px;
}

.facetSelectionOption{
	display: block;
}


.loadingWidgetStyle{
	vertical-align: middle;
	font-size: 2em;
	opacity: 0.75;
	text-align: center;
	width: 160px;
	height: 32px;
}

.loadingWidgetLabelStyle { 
	display:inline;
}

.loadingWidgetIconStyle { 
	display:inline;
}

.toolbar{
	padding: 0.5em;
}

.toggleButton{
	padding: 5px 5px 5px 5px;
	border: 1px solid #cccccc;
	cursor: pointer;
	\-moz-border-radius-topleft: 8px;
	\-moz-border-radius-topright: 8px;
	\-webkit-border-top-left-radius: 8px;
	\-webkit-border-top-right-radius: 8px;
	\-moz-border-radius-bottomleft: 8px;
	\-moz-border-radius-bottomright: 8px;
	\-webkit-border-bottom-left-radius: 8px;
	\-webkit-border-bottom-right-radius: 8px;
}

.toggleButtonPressed{
	background-color: #808080;
	color: #ffffff;
}

.toggleButtonReleased{
	background-color: transparent;
}

.toggleButtonMouseDown{
	background-color: #000000;
	color: #ffffff;
}

.timeline{
	background: #fff;
	opacity: 0.75;
	border: 1px solid #cccccc;
	\-moz-border-radius-topleft: 8px;
	\-moz-border-radius-topright: 8px;
	\-webkit-border-top-left-radius: 8px;
	\-webkit-border-top-right-radius: 8px;
	\-moz-border-radius-bottomleft: 8px;
	\-moz-border-radius-bottomright: 8px;
	\-webkit-border-bottom-left-radius: 8px;
	\-webkit-border-bottom-right-radius: 8px;
}

.summaryLabelStyle{
	font-weight: bold;
}

.treeRoot{
	font-weight: bold;
	font-size: 1.4em;
	background: none;
}

.summaryPropertyName {
	font-weight: bold;
	font-family: Verdana, Arial, sans-serif;
	font-size: 6pt;
}


.summaryPropertyValue{
	font-family: Verdana, Arial, sans-serif;
	font-size: 7pt;
}

.popup {
	background: white;
	border: 1px solid #424242;
	padding: 2px;
	font-size: 8pt;
}

.mainPopup {
	background: #f2f2f2;
	border: 4px solid #424242;
	padding: 6px;
}
.textButtonStyle {	
    font-size: 8pt;
    vertical-align: middle;
	text-align: center;
}
.searchPanel{
	border: 1px solid gray;
}
.searchBox{
	width: 140px;
	height: 20px;
}
.geoprocessingLabel{
	text-align: center;
	font-size: 9pt;
	font-weight: bold;
}
.distanceBox{
	width: 80px;
	height: 20px;
}
.routesResourceBox{
	background-color: #FFFFFF;
	border: 1px solid gray;
}
.dateFilterBox{
	width: 100%;
	background: rgb(242,246,248); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(242,246,248,1) 0%, rgba(181,198,208,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(242,246,248,1)), color-stop(100%,rgba(181,198,208,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(242,246,248,1) 0%,rgba(181,198,208,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(242,246,248,1) 0%,rgba(181,198,208,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(242,246,248,1) 0%,rgba(181,198,208,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(242,246,248,1) 0%,rgba(181,198,208,1) 100%); /* W3C */
	filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#b5c6d0',GradientType=1 )"; /* IE6-9 fallback on horizontal gradient */
}
.dateFilterPanel{
	border-top: 2px solid #6699FF;
	border-bottom: 2px solid #6699FF;
}
.dateFilterTitle{
	font-size: 12px;
	text-align:center;
	font-family: Verdana, Arial, sans-serif;
}
.configurationDescriptionLine0Style{
	cursor: pointer;
	width: 100%;
	padding-bottom: 12px;
	padding-top: 12px;
}
.configurationDescriptionLine1Style{
	cursor: pointer;
	width: 100%;
	padding-bottom: 12px;
	padding-top: 12px;
	background: rgb(219,232,252); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(219,232,252,1) 0%, rgba(219,232,252,1) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(219,232,252,1)), color-stop(99%,rgba(219,232,252,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(219,232,252,1) 0%,rgba(219,232,252,1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(219,232,252,1) 0%,rgba(219,232,252,1) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(219,232,252,1) 0%,rgba(219,232,252,1) 99%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(219,232,252,1) 0%,rgba(219,232,252,1) 99%); /* W3C */
	filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbe8fc', endColorstr='#dbe8fc',GradientType=0 )"; /* IE6-9 */
}
.WEBNmas1Line0Style{
	width: 100%;
	padding-bottom: 25px;
}
.WEBNmas1Line1Style{
	width: 100%;
	padding-bottom: 25px;
	background: rgb(219,232,252); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(219,232,252,1) 0%, rgba(219,232,252,1) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(219,232,252,1)), color-stop(99%,rgba(219,232,252,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(219,232,252,1) 0%,rgba(219,232,252,1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(219,232,252,1) 0%,rgba(219,232,252,1) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(219,232,252,1) 0%,rgba(219,232,252,1) 99%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(219,232,252,1) 0%,rgba(219,232,252,1) 99%); /* W3C */
	filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbe8fc', endColorstr='#dbe8fc',GradientType=0 )"; /* IE6-9 */
}
.WEBNmas1Line0TripProvenanceLine0{
	width: 100%;
	padding-bottom: 10px;
	background: rgb(237,237,237); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(237,237,237,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(237,237,237,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(237,237,237,1) 0%,rgba(237,237,237,1) 100%); /* W3C */
	filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ededed',GradientType=0 )"; /* IE6-9 */
}
.WEBNmas1Line0TripProvenanceLine1{
	width: 100%;
	padding-bottom: 10px;
	background: rgb(211,211,211); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(211,211,211,1) 0%, rgba(211,211,211,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(211,211,211,1)), color-stop(100%,rgba(211,211,211,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(211,211,211,1) 0%,rgba(211,211,211,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(211,211,211,1) 0%,rgba(211,211,211,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(211,211,211,1) 0%,rgba(211,211,211,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(211,211,211,1) 0%,rgba(211,211,211,1) 100%); /* W3C */
	filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#d3d3d3',GradientType=0 )"; /* IE6-9 */
}
.WEBNmas1Line1TripProvenanceLine0{
	width: 100%;
	padding-bottom: 10px;
	background: rgb(192,215,249); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(192,215,249,1) 0%, rgba(192,215,249,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(192,215,249,1)), color-stop(100%,rgba(192,215,249,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(192,215,249,1) 0%,rgba(192,215,249,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(192,215,249,1) 0%,rgba(192,215,249,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(192,215,249,1) 0%,rgba(192,215,249,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(192,215,249,1) 0%,rgba(192,215,249,1) 100%); /* W3C */
	filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0d7f9', endColorstr='#c0d7f9',GradientType=0 )"; /* IE6-9 */
}
.WEBNmas1Line1TripProvenanceLine1{
	width: 100%;
	padding-bottom: 10px;
	background: rgb(165,199,247); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(165,199,247,1) 0%, rgba(165,199,247,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(165,199,247,1)), color-stop(100%,rgba(165,199,247,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(165,199,247,1) 0%,rgba(165,199,247,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(165,199,247,1) 0%,rgba(165,199,247,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(165,199,247,1) 0%,rgba(165,199,247,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(165,199,247,1) 0%,rgba(165,199,247,1) 100%); /* W3C */
	filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5c7f7', endColorstr='#a5c7f7',GradientType=0 )"; /* IE6-9 */
}
.WEBNmas1CellPadding{
	padding-right: 15px;
	padding-bottom: 5px;
	padding-top: 5px;
}